[flake8]
max-complexity = 12
# C9 - flake8 McCabe Complexity checker -- threshold
max-line-length = 120
# E501 - flake8 -- line length too long, actually handled by black
extend-ignore = E203,E402,E501,W503
# whitespace, import, line length, binary operator line breaks
